<div class="entity-information">
    <div id="id">
        <label> ID
            <input type="text" name="id" placeholder="Id"  [(ngModel)]="person.id" disabled/>
        </label>
    </div>
    <div id="firstName">
        <label> FirstName
            <input type="text" name="FirstName" placeholder="FirstName" [(ngModel)]="person.firstName" />
        </label>
    </div>
    <div id="lastName">
        <label> LastName
            <input type="text" name="lastName" placeholder="lastName" [(ngModel)]="person.lastName"/>
        </label>
    </div>
    <div id="email">
        <label> Email
            <input type="text" name="email" placeholder="email" [(ngModel)]="person.email"/>
        </label>
    </div>
    <div id="isAdmin">
        <label> isAdmin
            <input type="text" name="isAdmin" placeholder="isAdmin" [(ngModel)]="person.isAdmin"/>
        </label>
    </div>
</div>
