<div class="entity-information">
  <div id="street">
    <label> Street
        <input type="text" name="Street" placeholder="Street" [(ngModel)]="address.street" />
    </label>
  </div>
  <div id="city">
    <label> City
        <input type="text" name="City" placeholder="City" [(ngModel)]="address.city" />
    </label>
  </div>
  <div id="postalCode">
    <label> PostalCode
        <input type="text" name="PostalCode" placeholder="PostalCode" [(ngModel)]="address.postalCode" />
    </label>
  </div>
</div>
